<Files "downloads.html">
    AuthType Form
    AuthUserFile /opt/hw2007.net/PASSWORD
    AuthFormLoginRequiredLocation "/login.html?handler=downloads-login"
    AuthName "Protected"
    Session On
    SessionCookieName session path=/
    Require valid-user
</Files>

<Files "PASSWORD">
    Require all denied
</Files>