.grid-item {
    position: relative;
    background-image: url("/assets/arcade-hires.png");
    background-size: contain;
    background-repeat: no-repeat;
    color: var(--lightblue);
    transition: scale 0.15s ease;
}

.grid-item:hover {
    background-image: url("/assets/arcade-hires.gif");
    color: var(--purple);
    scale: 1.05;
    transition: scale 0.15s ease;
}

.grid-item:active {
    scale: 1;
    transition: scale 0s ease;
}

.thumbnail {
    position: absolute;
    width: 128px;
    height: 100px;
    top: 64px;
    left: 36px;
}

.name {
    margin-top: 6px;
}

.info {
    margin-top: 202px;
    color: white;
    margin-left: 10px;
    margin-right: 6px;
    text-align: left;
}