.thumbnail {
	position: absolute;
	width: 128px;
	height: 100px;
	top: 64px;
	left: 36px;
}

.name {
	margin-top: 6px;
}

.info {
	margin-top: 202px;
	color: white;
	margin-left: 10px;
	margin-right: 6px;
	text-align: left;
}

.grid {
	grid-template-columns: repeat(
		auto-fit,
		minmax(clamp(300px, 100%, 425px), 1fr)
	);
	max-width: calc(400px * 4);
	padding-bottom: var(--pad2);
	padding-top: var(--pad4);
}
