.rainbow span:nth-child(1) {
	color: var(--lightblue); /* Light blue color */
}

.rainbow span:nth-child(2) {
	color: var(--blue); /* Blue color */
}

.rainbow span:nth-child(3) {
	color: var(--purple); /* Purple color */
}

.grid-item {
	width: 320px;
	padding-left: calc(var(--pad2) / 2);
	padding-right: calc(var(--pad2) / 2);
}