.rainbow span:nth-child(1) {
	color: var(--link); /* Light blue color */
}

.rainbow span:nth-child(2) {
	color: var(--link-hover); /* Blue color */
}

.grid {
	row-gap: 0px;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
