.password {
	text-align: left;
    font-family: "Tiny5", sans-serif;
    font-size: 20px;
	padding: 8px;
	width: auto;
	height: auto;
	border: solid;
	border-color: var(--gray);
	border-radius: 0px;
	border-width: 4px;
	background-color: black;
	margin-bottom: 16px;
    margin-top: 16px;
	position: relative;
    width: calc(100% - 24px);
}

.password:hover {
	border-color: white;
}

.password:focus {
	border-color: white;
    outline: none;
}