:root {
	--lightblue: #0099ff;
	--blue: #002fff;
	--purple: #7e15db;
	--gray: #1c1c1c;
	--darkgray: #151515;
	--lightgray: #505050;
	--bg-color: #000000;
	--fg-color: #ffffff;
	--green: #67c621;
	--pad4: 50px;
	--pad3: 35px;
	--pad2: 20px;
	--pad1: 5px;
	--std-page-width: 800px;
}

@font-face {
	font-family: "Tiny5";
	src: url("/assets/tiny5.ttf") format("truetype");
}

.large-view {
	display: block;
}

.small-view {
	display: none;
}

@media screen and (max-width: 660px) {
	.large-view {
		display: none;
	}

	.small-view {
		display: block;
	}
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: var(--pad2);
	background-color: var(--bg-color);
	color: var(--fg-color);
	font-size: 20px;
	text-align: center;
}

html {
	color-scheme: dark;
	font-family: "Tiny5", serif;
}

button {
	font-family: "Tiny5", serif;
	font-size: 20px;
	padding: 0;
	background-color: var(--bg-color);
	border: none;
	color: var(--lightblue);
	cursor: pointer;
}

button:hover {
	color: var(--purple);
}

button:active {
	color: var(--lightblue);
}

a {
	color: var(--lightblue); /* Light blue color */
	text-decoration: none; /* Remove underline */
}

a:hover {
	color: var(--purple); /* Purple color */
}

.back {
	position: absolute;
	padding: 0px;
	top: -1px;
	left: 16.5px;
}

.header {
	font-size: 60px;
	padding-top: var(--pad3);
	padding-left: var(--pad1);
	padding-right: var(--pad1);
	font-weight: bold;
}

.subheader {
	font-size: 40px;
	font-weight: bold;
}

.image_button {
	background-color: var(--lightblue);
	mask-size: cover;
}

.image_button:hover {
	background-color: var(--purple);
}

.image_button:active {
	background-color: var(--lightblue);
}

.fancy-link {
	text-align: left;
	display: flex;
	align-content: center;
	padding: 8px;
	width: auto;
	height: auto;
	border: solid;
	border-color: var(--gray);
	border-width: 4px;
	background-color: var(--bg-color);
	margin-top: -4px;
	margin-bottom: 0px;
	transition: transform 0.1s ease;
	position: relative;
}

.fancy-link:hover {
	border-color: var(--fg-color);
	transform: translate(-4px, -4px);
	z-index: 10;
}

.fancy-link:active {
	transform: translate(0px, 0px);
	transition: transform 0s ease;
}

.grid {
	display: grid;
	max-width: var(--std-page-width);
	column-gap: calc(var(--pad2) - 8px);
	row-gap: calc(var(--pad2) - 4px);
	justify-content: center;
	text-align: center;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: var(--pad2);
	padding-right: var(--pad2);
	margin: auto;
}