:root {
	--lightblue: #0099ff;
	--blue: #002fff;
	--purple: #7e15db;
}


@font-face {
	font-family: "Tiny5";
	src: url("/assets/tiny5.ttf") format("truetype");
}

.large-view {
	display: inline-block;
}

.small-view {
	display: none;
}

@media screen and (max-width: 600px) {
	.large-view {
		display: none;
	}

	.small-view {
		display: inline-block;
	}
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	font-size: 20px;
}

html {
	color-scheme: dark;
	font-family: "Tiny5", serif;
}

button {
	font-family: "Tiny5", serif;
	font-size: 20px;
	padding: 0;
	background-color: black;
	border: none;
	color: var(--lightblue);
	cursor: pointer;
}

button:hover {
	color: var(--purple);
}

button:active {
	color: var(--lightblue);
}

a {
	color: var(--lightblue); /* Light blue color */
	text-decoration: none; /* Remove underline */
}

a:hover {
	color: var(--purple); /* Purple color */
}

.rainbow span:nth-child(1) {
	color: var(--lightblue); /* Light blue color */
}

.rainbow span:nth-child(2) {
	color: var(--blue); /* Blue color */
}

.rainbow span:nth-child(3) {
	color: var(--purple); /* Purple color */
}

.small {
	font-size: 20px;
}

.back {
	position: absolute;
	padding: 0px;
	top: 0px;
	margin: 15px;
}

.header {
	font-size: 60px;
	padding-top: 60px;
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}
